RAINAPI_IMAGE=rainapi:v1.0.0-rc.23-rain.1
CONTAINER_NAME=new-api
CPUS=2
MEMORY_LIMIT=1G
TZ=Asia/Shanghai
HOST_IP=0.0.0.0
PANEL_APP_PORT_HTTP=3000
SQL_DSN=postgresql://APP_USER:APP_PASSWORD@1Panel-postgresql-XsN6:5432/new-api
